<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>index</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body bgcolor="cyan">
    <center>
        
        <table class="table">
            <thead>
                <tr>
                    <th>name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>delete</th>
                    <th>Update</th>

                </tr>
            </thead>
            <tbody>
                {% for i in data %}
                <tr>
                    
                    
                    <td>{{i.name}}</td>
                    <td>{{i.email}}</td>
                    <td>{{i.phone}}</td>
                    <td><a href="del?uid={{i.id}}">delete</a></td>
                    <td><a href="update/{{i.id}}">update</a></td>
                    {% comment %} <td><div>
                    
                        
                         <a href="{% url 'delete' person.pk %}" type="submit" class="btn btn-danger shadow btn-xs sharp me-1"
                                           data-bs-target="#delete" ... onclick="return confirm('Are you sure you want to delete this?') ">
                                           <i class="fa fa-trash"></i>
                                         </a> 
                         <a href="/update_view/{{person.id}}/" class="btn btn-primary">Edit</a>
                         </div>
                       </td> {% endcomment %}
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>

    
    
    
</center>



</body>
</html>